@model Vidly.ViewModels.NewCustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
       @Html.LabelFor(m=>m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new {@class ="form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershiptypeId)
        @Html.DropDownListFor(m => m.Customer.MembershiptypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type",  new { @class = "form-control" })
    </div>


    <div class="checkbox">
        <label>
           @Html.CheckBoxFor(m=>m.Customer.ISubscribedToNewsletter)Subscribe to Newletter?
        </label>
    </div>
    @Html.HiddenFor(m=>m.Customer.Id)
    <button type="submit" class="btn btn-primary">Save</button>

}
